*/__pycache__
.DS_Store
# *.ipynb
*.ipynb_checkpoints
*.pkl
*.pyc
*.Rhistory
fire_analytic/*

!fire_analytic/analytic_two_layer.tex
!fire_analytic/analytic_two_layer.pdf
fire_mathematica/
fire_writing/
ref_fire/
fire_notebooks_v0/